<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @friend.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @friend.email %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @friend.dob %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @friend.mobile %>
</p>

<p>
  <strong>Reminder:</strong>
  <%= @friend.reminder %>
  
</p>
<p>
<strong>Reminder:</strong>
<%= @friend.reminder %>

</p>

<p>
  <strong>Call:</strong>
  <%= @friend.call %>
</p>

<p>
  <strong>Message:</strong>
  <%= @friend.message %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend),:class=>'btn btn-default' %> 
<%= link_to 'Back', friends_path,:class=>'btn btn-primary' %>
